.topo {
    padding: 0px 20px;
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: rgb(255, 255, 255);
  }
  main {
    padding: 20px 0px;
    display: flex;
    justify-content: space-around;
    background-color: rgb(255, 255, 255);
  }
  section, aside {
    width: 45%;
  }
  section header {
    padding: 10px;
    text-align: center;
    background-color: rgb(255, 255, 255);
  }
  section div {
    padding: 10px;
    text-align: center;
    background-color: rgb(250, 250, 250);
  }
  aside header {
    padding: 10px;
    text-align: center;
    background-color: rgb(255, 255, 255);
  }
  aside div {
    padding: 10px;
    text-align: center;
    background-color: rgb(224, 247, 191);
  }